<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/pirates" method="post">
      <p><label for="pirate_name">Pirate Name:</label>
      <input type="text" name="pirate[name]"></p>
      <p><label for="pirate_height">Pirate Height:</label>
      <input type="text" name="pirate[height]"></p>
      <p><label for="pirate_height">Pirate Weight:</label>
      <input type="text" name="pirate[weight]"></p>
      <br>
      <p><label for="ship_name_1">Ship Name:</label>
      <input type="text" name="pirate[ships][][name]" id="ship_name_1"></p>
      <p><label for="ship_type_1">Ship Type:</label>
      <input type="text" name="pirate[ships][][type]" id="ship_type_1"></p>
      <p><label for="ship_booty_1">Ship Booty:</label>
      <input type="text" name="pirate[ships][][booty]" id="ship_booty_1"></p>
      <p><label for="ship_name_2">Ship Name:</label>
      <input type="text" name="pirate[ships][][name]" id="ship_name_2"></p>
      <p><label for="ship_type_2">Ship Type:</label>
      <input type="text" name="pirate[ships][][type]" id="ship_type_2"></p>
      <p><label for="ship_booty_2">Ship Booty:</label>
      <input type="text" name="pirate[ships][][booty]" id="ship_booty_2"></p>
      <br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
